*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #E8E9E2;
    font-family: 'Roboto Mono', monospace;
}

/* ------------------ NAV BAR STYLE ------------------ */

.navbar{
    /* background-color: red; */
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.navbar-list{
    width: 600px;
    height: 40px;
    list-style-type: none;
    background: #C7C8C3;
    border-radius: 20px;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list li a{
    text-decoration: none;
    color: #59554F;
}

.flip {
  --duration: 0.5s;
  --function: cubic-bezier(0.66, 0, 0.34, 1);

  overflow-y: clip;

  > * {
    display: block;
    transition: transform var(--duration) var(--function),
      translate 0ms calc(var(--duration) / 2);
  }

  &:is(:hover, :focus-within) > * {
    transform: translateY(-2lh);
    translate: 0 2lh;
  }
}


/* ------------------ HERO SECTION STYLE ------------------ */

.hero-container{
    /* background: red; */
    height: 93vh;
}

.hero-name{
    /* background: greenyellow; */
    width: 100%;
    height: 200px;
    font-size: 85px;
    text-align: center;
    color: #000000;
}

.hero-items{
    /* background-color: green; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.h-items{
    /* background-color: blue; */
    width: 350px;
    height: 400px;
}

.hero-bio{
    display: flex;
    flex-direction: column;
}

.h-bio-icon{
    width: 60px;
    height: 60px;
    margin: 20px 0 0 10px;
}

.h-bio-text{
    width: 350px;
    margin: 20px 0 0 25px;
    color: #59554F;
}

.h-bio-button {
    background-color: #353330 ;
    width: 150px;
    height: 60px;
    margin: 40px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8E9E2;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.h-bio-button:hover {
    background-color: #59554F ;
    transform: scale(1.05);
}

.hero-logo{
    margin: 0 0 0 10px;
}

.hero-logo-img{
    width: 350px;
    height: 400px;
    border-radius: 25px;
}

.hero-job{
    background-color: red;
    width: 300px;
}